@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

.tooltip {
  position: absolute;
  padding: 2px;
  font: 15px sans-serif;
  background: rgb(244, 245, 247);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
  color: black;
}

svg {
  /* border: solid gray 1px; */
  border-radius: 10px;
}

body {
  background-color: #272727;
  font-family: 'Poppins', sans-serif;
  color: white;
  height: 100vh;
  overflow-y: hidden;
}

#map {
  padding-top: 10px;
}

#details {
  margin-top: -6px;
}

nav {
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 4px 2px -2px gray;
}

#year-select {
  background-color: transparent;
  padding: 5px;
  border: solid white 1px;
  border-radius: 10px;
  color: white;
  font-size: 1em;
}

select {
  font-family: 'Poppins';
}

.nav-title {
}
